<style>
    .bmc-container {
        width: 100%;
        text-align: center;
        padding-bottom: 40px;
    }

    .bmc-custom-btn {
        display: inline-block;
        border-radius: 40px;
        border: solid 1.5px #FFDD00;
        background-color: #FFDD00;
        text-decoration: none;
        cursor: pointer;
        transition: opacity 0.2s;
        box-shadow: none;
    }

    .bmc-custom-btn:hover {
        opacity: 0.9;
        text-decoration: none;
        transform: none;
        box-shadow: none;
    }

    .bmc-text {
        display: block;
        font-size: 1.5rem;
        text-align: center;
        color: #000000;
        padding: 4px 15px;
        font-family: inherit;
        font-weight: normal;
    }

    .bmc-icon {
        margin-right: 8px;
    }
</style>

<div class="bmc-container">
    <a href="https://www.buymeacoffee.com/moony01" target="_blank" class="bmc-custom-btn">
        <span class="bmc-text"><span class="bmc-icon">☕</span>Buy the developer a coffee</span>
    </a>
</div>
